Необходимо привести названия столбцов к нижнему регистру и заменить пробелы на знак нижнего подчеркивания

In [1]:
import pandas as pd
import numpy as np

In [2]:
bookings = pd.read_csv('2_bookings.csv', sep=';')

In [5]:
# первый вариант
bookings.columns = bookings.columns.str.replace(pat=' ', repl='_').str.lower()

In [3]:
# второй вариант
rename_cols = {}
for col in bookings.columns:
    rename_cols[col] = col.replace(' ', '_').lower()
    
bookings=bookings.rename(columns=rename_cols)

In [7]:
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03